{% extends 'base.html' %}
{% block content %}
  <div class="container-lg mt-3">
    <h1>Сайты</h1>
    <div class="table-responsive">
      <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <tbody>
          <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Последняя проверка</th>
            <th>Код ответа</th>
          </tr>
          <tr>
            <td>{{ data[0][0] }}</td>
            <td>
              <a>{{ data[0][1] }}</a>
            </td>
            <td>{{ time }}</td>
            <td>{{ data_checks[- 1][1] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
