{% extends 'base.html' %}
{% block content %}
  <h1>Сайты</h1>
  {% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
      <div class="alert alert-success" role="alert">
        {% for category, message in messages %}
          <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <div class="container-lg mt-3">
    <div class="table-responsive">
      <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <tbody>
          <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Последняя проверка</th>
            <th>Код ответа</th>
          </tr>
          {% if data %}
            {% for elem in data %}
              <tr>
                <td>{{ elem[0] }}</td>
                <td>
                  <a href="{{ elem[1] }}" target="_blank">{{ elem[1] }}</a>
                </td>
                <td>{{ elem[2] }}</td>
                <td>{{ elem[3] }}</td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
